<header>
  <nav class="navbar">
    <div class="logo">
      <a href="index.html">Tredecim</a>
    </div>
    <ul class="nav-links">
      <li><a href="index.html">Overview</a></li>
      <li><a href="detailed.html">Details</a></li>
      <li><a href="converter.html">Converter</a></li>
      <li><a href="calendar.html">Calendar</a></li>
      <li><a href="switch.html">Why Switch</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="downloadables.html">Downloadables</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>
</header>
